global !p
def yamlp(snip):
	from yaml import load
	from pprint import pformat 
	snip.rv = pformat(load(snip.v.text))
	return snip.rv
endglobal

snippet yamlp "yaml parser" i
${VISUAL}
`!p snip.rv = yamlp(snip)`
endsnippet
